@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Zen+Kaku+Gothic+New:wght@500;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.step-gradation1 {
  background-image: linear-gradient(
    108deg,
    rgba(198, 241, 198, 1),
    rgba(239, 195, 151, 1) 100%,
    rgba(223, 226, 184, 1) 50%
  );
}

.step-gradation2 {
  background-image: linear-gradient(
    95deg,
    rgba(223, 220, 247, 1),
    rgba(245, 206, 66, 1)
  );
}

.zoom {
  zoom: 1.5;
}

.delete {
  display: none;
}


